mixin img(url, alt)
  img(class!=attributes.class src=require(url), alt=alt)

mixin link(href, name)
  a.link(class!=attributes.class href=href)= name

mixin link-img(href, name, url, alt, className)
  a(class!=attributes.class href=href)
    img(class=className, src=require(url), alt=alt)
    span=name

mixin button(name, type, dataOrder)
  button.button(class!=attributes.class type=type data-order=dataOrder)= name

mixin svg(href, aria_label)
  svg(class!=attributes.class aria-label=aria_label)
    use(href=href)
