mixin img(url, alt, className)
  img(src=require(url), alt=alt)(class=className)

mixin svg(className, href)
  svg(class=className)
    use(href=href)

mixin link(href, name)
  a.link(class!=attributes.classhref=href)= name

mixin button(name, type)
  button.button(class!=attributes.classtype=type)= name

mixin svg(className, href, aria_label)
  svg(class=className, aria-label=aria_label)
    use(href=href)
